@tailwind components;

html {
  width: 100%;
  height: 100%;
  background-color: #111414;
}


@layer components {
    .component-style {
      background-color: #111414;
      color: #FFFFFF;

      font: 5px 'Poppins', sans-serif;
    }
    .footer-style {
      background-color: #181c24;
      color: #FFFFFF;
      width: 100%;
      font: 5px 'Poppins', sans-serif;
    }
    .page-style {
      padding: 50px 100px 150px 100px;
    }
    .page-width {
      padding: 5px 100px 5px 100px;
    }
    .generate-img {
      text-align: center;
    }
  }
    
    /* HIDE RADIO */
    [type=radio] { 
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* IMAGE STYLES */
    /* [type=radio] + img {
      cursor: pointer;
    } */
    
    /* CHECKED STYLES */
    [type=radio]:checked + img {
      outline: 2px solid rgb(0, 187, 255);
    }
    
    

